# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.pyc

# Pytest cache
.cache

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# System files
Thumbs.db
Desktop.ini
